.Profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  background-color: #f9f9f9;
  min-height: 100vh;
  flex-wrap: wrap; /* for mobile responsiveness */
}

.ProfileMessage {
  flex: 1;
  max-width: 600px;
}

.ProfileMessage h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.ProfileMessage h2 {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 20px;
}

.ProfileMessage p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.profileImage img {
  width: 300px;
  height: 300px;
  border-radius: 60%;
  object-fit: cover;
}
.hire{
  text-decoration: none;
  color:black;
  font-size: large;
}
@media only screen and (max-width: 800px) {
    .Profile {
    flex-direction: column; /* Stack vertically */
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    text-align: center;
  }
 .ProfileMessage {
    max-width: 100%;
    padding: 0 10px;
  }

  .ProfileMessage h1,
  .ProfileMessage h2
  {
    text-align: center;
    font-size: 2.0rem;
  }
  .ProfileMessage p {
    font-size: 1.5rem;
    text-align: center;
  }

  .profileImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .hire {
    display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 6px;
  }
}