
.contactMe{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    color: var(--yellow-theme-main-color);
    gap:60px;
    padding:40px;
    flex-wrap: wrap;
}
.welcomeMessage{
    flex:1;
    max-width: 500px;
    text-align: center;
    margin-top: 5%;
}
 h1{
    font-size: xx-large;
    padding:20px;   
}
p{
    font-size: 2.0rem;
}
.socialIcon{
    font-size: 30px;
    padding:40px;
    padding: 20px;
    margin:10px;
   
}

.LinkedIn{
       margin:10px;
    }
.Form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    font-size:1.5rem;
}
.name{
    font-size: 2.0rem;
}
.Form label{
    padding:10px;
    margin-top: 20px;
}
.Form input,
.Form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  background: transparent;
  color: white;
  font-size: 2.0rem;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

}
textarea:hover,input:hover{
   transform: scale(1.05);
  border-color: var(--yellow-theme-main-color);
  box-shadow: 0 0 8px var(--yellow-theme-main-color); 

}
.send{
    padding:10px;
}
.submit{
    width:100%;
    padding:7px;
    border-radius: 5px;
    font-size: 1.5rem;
   
}
.submit:hover{
    background-color: grey;
}
@media only screen and (max-width: 850px) {
  .contactMe {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
    text-align: center;
  }
  .label{
    text-align: left;
   
  }
.Form input[type="text"] {
  margin-top: 5px; /* Adds space between label and input */
  width:100%;

  
}
  .welcomeMessage {
    margin-top: 0;
    max-width: 100%;
    font-size: 1.7rem;
  }

  h1 {
    font-size: 1.8rem;
    padding: 10px;
  }

  p {
    font-size: 1.5rem;
    padding: 0 10px;
  }

  .Form {
    width: 100%;
    padding: 0 10px;
    font-size: 1.4rem;
  }

  .Form input,
  .Form textarea {
    font-size: 1.4rem;
  }

  .submit {
    font-size: 2.0rem;
    margin-top: 20px;
    width:30%;
    padding:10px
  }

  .socialIcon {
    font-size: 24px;
    padding: 10px;
    margin: 5px;
  }
}