* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
    background-color: #00132c ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 10px;

&_container{
    display: flex;
    align-items: center;
    width:100%;
    height: inherit;
    padding: 10px;
     flex:1;
}
}
.navbar_container_logo{
 
    color: var(--yellow-theme-main-color);
    cursor: pointer;
}
.navbar_container_menu
{
display: flex;
list-style: none;
text-align: center;
margin-top: 40px;

&_item{
line-height: 30px;
margin-right:1.5rem;
font-size: 1.6rem;     
    &::after{
        content:'';
        display:block;
        height:3px;
        width:0px;
        background: transparent;
        transition: all 0.5s ease;

    }   
    &:hover::after{
        width:100%;
        background-color: var(--yellow-theme-main-color);
        
    }           
}
}
.nav-icon{
    display: none;
}
.navbar_container_menu_item_links{
    text-decoration: none;
    color: var(--yellow-theme-main-color)
}
@media only screen and (max-width :800px){
    .navbar_container_menu{
        background-color: #0f172a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        z-index: 999;
        position:absolute;
        top:30px;
        left:-1000px;
         opacity: 1px;
        transition: all 0.5s ease;
        &.active{
            background-color: #0f172a;
            left:0px;

        }
        &_item{
            margin-top: 5px;
            padding : 25px;
            font-size: xx-large ;
        }
         }
         .nav-icon{
            display: block;
            color:var(--yellow-theme-main-color);
            padding:20px;
         }
    }