:root{

  --yellow-theme-background-color: #0f172a;
  --yellow-theme-main-color: #f1f5f9;
  --yellow-theme-sub-text-color : 'ffffff';
  --yellow-theme-nav-background-color: #181818

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
  height:100%;
}
body{
  background: var(--yellow-theme-background-color);
  height:100%;
}
#root{
height: 100%
}